header {
  display: flex;
  background-color: #1e3c70;
  width: 100vw;
  justify-content: space-between;
  padding: 20px;
}

.image {
  position: relative;
  width: 100px;
  height: 120px;
}

@media (max-width: 768px) {
  .image {
    position: relative;
    width: 50px;
    height: 60px;
  }
}